# MariaDB
PERIGEE_DB_ROOT_PASSWORD=rootpassword
PERIGEE_DB_HOST=mariadb
PERIGEE_DB_PORT=3306
PERIGEE_DB_USER=perigee
PERIGEE_DB_PASSWORD=perigee
PERIGEE_DB_NAME=perigee

# Application
PERIGEE_DEBUG=true
